* {
    margin-left: 1%;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 60px [col-start]);
    grid-template-rows: repeat(6, 60px [col-start]);
    grid-gap: 2%;
    width: 478px;
    height: 396px;
    background-color: #eeeeee;
    padding: 2%;
    border: 1px solid #bbb;
    border-radius: 0.3rem;
  }
  
  .grid-circle {
    box-sizing: border-box;
    border: 1px solid #bbb;
    border-radius: 50%;
  }

  .game-ends {
    top: 190px;
    left: 120px;
    width: 310px;
    height: 160px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.3rem;
    padding: 2%;
    text-align: center;
  }

  .game-ends > h3 {
    margin-top: -10px;
  }

  .close-button {
    text-align: right;
    border-radius: 0.3rem;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #000;
    padding: 1%;
  }

  .close-button:hover {
    cursor: pointer;
  }


  button {
    padding: 2.5%;
    border-radius: 0.3rem;
    background-color: rgb(65, 65, 177);
    border: 1px solid rgb(65, 65, 177);
    color: #fff;
    font-size: 1em;
    letter-spacing: 0.05rem;
    font-size: 500;
  }